<!-- Main container for both login and signup forms -->
<div class="login-signup">

  <!-- Login form section -->
  <div class="form">
    <!-- Login form title -->
    <h2>Login</h2>
    <!-- Welcome message -->
    <h3>Welcome Back 💞</h3>
    <!-- Motivational messages -->
    <p> May your day be as</p>
    <p> lovely as it is productive.</p>
    <br />
    <!-- Login form -->
    <form class="login-form">
      <!-- Email input field -->
      <div class="">
        <label for="email-login">Email:</label>
        <br />
        <input class="" type="text" id="email-login" />
      </div>
      <!-- Password input field -->
      <div class="">
        <label for="password-login">Password:</label>
        <br />
        <input class="" type="password" id="password-login" />
      </div>
      <br />
      <!-- Login button -->
      <div class="">
        <button class="" type="submit">LOGIN</button>
      </div>
    </form>
  </div>

  <!-- Signup form section -->
  <div class="signup form">
    <!-- Signup form title -->
    <h2>Signup</h2>
    <!-- Motivational message -->
    <p>Let's get stuff done!</p>
    <!-- Signup form -->
    <form class="signup-form">
      <!-- Name input field -->
      <div class="spacer">
        <label for="name-signup">Name:</label>
        <br />
        <input class="" type="text" id="name-signup" />
      </div>
      <!-- Email input field -->
      <div class="">
        <label for="email-signup">Email:</label>
        <br />
        <input class="" type="text" id="email-signup" />
      </div>
      <!-- Password input field -->
      <div class="">
        <label for="password-signup">Password:</label>
        <br />
        <input class="" type="password" id="password-signup" />
      </div>
      <br />
      <!-- Signup button -->
      <div class="">
        <button class="" type="submit">SIGNUP</button>
      </div>
    </form>
  </div>
</div>

<!-- Link to the JavaScript file for login functionality -->
<script src="./js/login.js"></script>
