/* Importing fonts from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Hepta+Slab:wght@1..900&family=Laila:wght@300&family=Lustria&display=swap');

/* Defining color variables */
:root {
    --lilac: #9B5DE5;
    --coldPink: #F15BB5;
    --lightPink: #FF99C8;
    --skyBlue: #70D6FF;
    --warmPink: #FF70A6;
    --lightOrange: #FF9770;
    --lightYellow: #FFD670;
    --lightLime: #EDF7BB;
    --lightWhite: rgba(255, 255, 255, 0.495);
    --white: white;
    --red: red;
}

/* General styles applied to all elements */
* {
    box-sizing: border-box;
    font-family: "Lustria", serif;
}

/* Body styles including a radial gradient background */
body {
    background: radial-gradient(at 98% 69%, var(--lilac) 0px, transparent 50%), 
                radial-gradient(at 89% 12%, var(--coldPink) 0px, transparent 50%), 
                radial-gradient(at 27% 51%, var(--lightPink) 0px, transparent 50%), 
                radial-gradient(at 82% 85%, var(--skyBlue) 0px, transparent 50%), 
                radial-gradient(at 3% 34%, var(--warmPink) 0px, transparent 50%), 
                radial-gradient(at 0% 18%, var(--lightOrange) 0px, transparent 50%), 
                radial-gradient(at 2% 70%, var(--lightYellow) 0px, var(--lightLime) 50%);
    background-attachment: fixed;
}

/* Class to hide elements */
.hidden {
    display: none;
}

/* Centered text for headings */
h1, h2, h3 {
    text-align: center;
}

/* Red color for due dates */
.due-date{
    color: var(--red);
}

/* Header styles */
nav {  
    display: flex;
    justify-content: center;
    gap: 15px;
    font-size: large;
    background: var(--lightWhite);
    padding: 0.5em;
    flex-wrap: wrap;
}

/* Cursor style for links */
a {
    cursor: pointer;
}

/* Styles for login and signup forms */
.login-signup{
    display: flex;
    justify-content: center;
    gap: 4em;
    flex-wrap: wrap;
}

/* Form styles */
form {
	display: inline-flex;
	flex-direction: column;
    line-height: 2;
}

/* Form container styles */
.form { 
    background: var(--lightWhite);
    margin-top: 2em;
    padding: 0em 2em 2em 2em;
    box-shadow: 0 0 15px 1px var(--lightPink);
}

/* Input and textarea styles */
input, textarea {
	padding: 3px;
	margin:10px 0;
	box-shadow: 0 0 15px 4px var(--lilac);
	border-radius: 5px;
    width: 100%;
}

/* Button styles */
button {
	appearance:none;
	-webkit-appearance:none;
	padding:10px;
	border:none;
	background-color: var(--lilac);
	color: var(--white);
	font-weight:600;
	border-radius:5px;
	width:100%;
    cursor: pointer;
}

/* Spacer class for margin */
.spacer {
    margin-top: 6.5px;
}

/* Homepage styles */
.show-create-task {
    width: auto;
}

/* Centered text for create task button */
.create-taskbtn {
    text-align: center;
}

/* New task container styles */
.new-task-container{
    display: flex;
    justify-content: center;
}

/* New task form styles */
.new-task-form {
    background: var(--lightWhite);
    box-shadow: 0 0 15px 1px var(--lightPink);
    padding: 2em;
    margin-bottom: 2em;
    inline-size: 30em;
}

/* Priority dropdown styles */
#priority {
    width: 100%;
    border-radius: 5px;
}

/* Notify checkbox styles */
#notify {
    width: auto;
}

/* Task card styles */
h4 {
    margin-top: 0;
}

/* Task list styles */
.task-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}

/* Task card styles */
.task-card {
    padding: 2em;
    border: 2px solid var(--skyBlue);
    box-shadow: 0 0 15px 4px var(--lilac);
    text-align: center;
    inline-size: 30em;
    border-radius: 10px;
    background-color: var(--lightWhite);
}

/* Delete button styles */
.delete-button {
    margin-bottom: 1em;
}

/* Priority color styles */
.priority-color {
    background: var(--lightYellow);
}

/* Edit task form styles */
.edit-task-container{
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 2em;
    inline-size: 30em;
}

/* Paragraph styles */
.p { 
    margin: 0;
}

/* Single task view styles */
.single-task-container{
    display: flex;
    justify-content: center;
    margin-top: 2em;
}

/* Single task styles */
#single-task {
    display: block;    
}

/* Media query for screens with max width of 537px */
@media screen and (max-width: 537px) {

    /* Login/Signup screen adjustments */
    .login-signup {
        gap: 1em;
    }

    /* Signup form adjustments */
    .signup {
        margin-bottom: 2em;
    }

    /* Task card adjustments */
    .task-card {
        inline-size: 20em;
    }

    /* New task form adjustments */
    .new-task-form {
        inline-size: 20em;
    }

    /* Edit task form adjustments */
    .edit-task-container {
        inline-size: 20em;
    }
}
